@model Product

<h2 class="mx-auto text-xl text-center">Edit</h2>

<form method="post" class="w-1/2 mx-auto">
    <div asp-validation-summary="All" class="mb-5"></div>
    
     <div class="mb-6">
            <label asp-for="Title" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="Title" type="text" id="default-input" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="Title" class="text-red-500"></span>
        </div>
    
        <div class="mb-6">
            <label asp-for="Description" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="Description" type="text" id="" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="Description" class="text-red-500"></span>
        </div>
        
        <div class="mb-6">
            <label asp-for="ISBN" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="ISBN" type="text" id="" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="ISBN" class="text-red-500"></span>
        </div>
        
        <div class="mb-6">
            <label asp-for="Author" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="Author" type="text" id="" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="Author" class="text-red-500"></span>
        </div>
        
        <div class="mb-6">
            <label asp-for="ListPrice" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="ListPrice" type="text" id="" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="ListPrice" class="text-red-500"></span>
        </div>
        
        <div class="mb-6">
            <label asp-for="Price" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="Price" type="text" id="" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="Price" class="text-red-500"></span>
        </div>
        
        <div class="mb-6">
            <label asp-for="Price50" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="Price50" type="text" id="" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="Price50" class="text-red-500"></span>
        </div>
        
        <div class="mb-6">
            <label asp-for="Price100" class="block mb-2 text-sm font-medium text-gray-900">
            </label>
            <input asp-for="Price100" type="text" id="" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="Price100" class="text-red-500"></span>
        </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Delete
    </button>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}