@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl text-center my-7">
    @ViewData["Title"]
</h1>

<div class="max-w-md mx-auto min-h-screen">
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        <br />
        <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="inline-block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-7 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Click here to confirm your account
        </a>
    </p>
    }
    else
    {
    <p>
        Please check your email to confirm your account.
    </p>
    }
}
</div>
