@model List<Category>

<div class="text-center">
    <h2 class="text-4xl font-extrabold dark:text-white">Categories</h2>

    <div class="relative overflow-x-auto">
        <table class="w-1/2 mx-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 text-center">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Category
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Display Order
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-center">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @obj.Name
                    </th>
                    <td class="px-6 py-4">
                        @obj.DisplayOrder
                    </td>
                    <td class="px-6 py-4">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="text-blue-500 hover:underline mr-3">
                            Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="text-red-500 hover:underline">
                            Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>

    <div class="mt-5 ">
        <a asp-controller="Category" asp-action="Create">
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Add category
            </button>
        </a>
    </div>
</div>

@section Scripts
{
    <script src="js/site.js"></script>
}
